commerce/__pycache__/__init__.cpython-313.pyc
commerce/__pycache__/settings.cpython-313.pyc
commerce/__pycache__/urls.cpython-313.pyc
commerce/__pycache__/wsgi.cpython-313.pyc

commerce/settings.py

auctions/__pycache__/__init__.cpython-313.pyc
auctions/__pycache__/admin.cpython-313.pyc
auctions/__pycache__/apps.cpython-313.pyc
auctions/__pycache__/formclasses.cpython-313.pyc
auctions/__pycache__/models.cpython-313.pyc
auctions/__pycache__/urls.cpython-313.pyc
auctions/__pycache__/views.cpython-313.pyc

db.sqlite3

auctions/migrations/__pycache__/__init__.cpython-313.pyc
auctions/migrations/__pycache__/0001_initial.cpython-313.pyc
auctions/migrations/__pycache__/0002_auctionlisting_category_alter_bid_auction_listing_and_more.cpython-313.pyc
auctions/migrations/__pycache__/0003_alter_auctionlisting_image.cpython-313.pyc
auctions/migrations/__pycache__/0004_auctionlisting_user_alter_auctionlisting_image.cpython-313.pyc
auctions/migrations/__pycache__/0005_alter_auctionlisting_user.cpython-313.pyc
auctions/migrations/__pycache__/0006_alter_auctionlisting_categories.cpython-313.pyc
auctions/migrations/__pycache__/0007_alter_auctionlisting_image_alter_bid_auction_listing.cpython-313.pyc
auctions/migrations/__pycache__/0008_auctionlisting_closed.cpython-313.pyc
auctions/migrations/__pycache__/0009_alter_comment_auction_listing.cpython-313.pyc
auctions/migrations/__pycache__/0010_alter_comment_timestamp.cpython-313.pyc
auctions/migrations/__pycache__/0011_alter_bid_timestamp.cpython-313.pyc
