commerce/auctions/__pycache__/__init__.cpython-313.pyc
commerce/auctions/__pycache__/admin.cpython-313.pyc
commerce/auctions/__pycache__/apps.cpython-313.pyc
commerce/auctions/__pycache__/formclasses.cpython-313.pyc
commerce/auctions/__pycache__/models.cpython-313.pyc
commerce/auctions/__pycache__/urls.cpython-313.pyc
commerce/auctions/__pycache__/views.cpython-313.pyc

commerce/db.sqlite3

commerce/commerce/settings.py
