{% extends 'auctions/layout.html' %}

{% block title %} Create an Auction {% endblock %}

{% block body %}
    <form method="POST" action="{% url 'create' %}" class="form-div">
        {% csrf_token %}

        <div class="form-row"> 
            Title* {{form.title}}
        </div>
        
        <div class="form-row"> 
            Description* {{form.description}}
        </div>

        <div class="form-row"> 
            Starting Bid* {{form.starting_bid}}
        </div>

        <div class="form-row"> 
            Upload an Image {{form.image}}
        </div>

        <div class="form-row"> 
            Select a Category {{form.categories}}
        </div>

        <div class="form-row btn-div">
            <button type="submit" class="btn btn-secondary active"> Submit </button>
        </div>

    </form>
{% endblock %}